* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 43px;
  background-color: #4cb1ca;
}

.headleft {
  width: auto;
  height: 13px;
  float: left;
  margin-left: 188px;
  margin-top: 10px;
  color: #bef2ff;
}

.headleft > span:last-of-type {
  margin-left: 13px;
}

.headleft span:first-of-type::after {
  content: 'English';
  color: white;
  
}

.headleft span:last-of-type::after {
  content: 'USD';
  color: white;
}

.headleft i:first-of-type  {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.headleft i:last-of-type {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.headright {
  width: 357px;
  height: 13px;
  float: right;
  color: white;
  margin-right: 188px;
  margin-top: 10px;
}
.headright i {
  border-left: 1.5px solid white;
  display: inline-block;
  height: 12px;
  margin-right: 6px;
}

.headright a {
  margin-right: 6px;
  color: white;
}

.headright a:hover {
color: rgb(180, 230, 199);
transition: .7s;
border-bottom: .07em solid;
text-transform: initial;
text-shadow: .5px .8px rgb(0, 0, 0);
}

section {
  margin-right: auto;
  margin-left: auto;
  width: 1400px;
  height: auto;
  margin-top: 30px;
}

.list-1 {
  padding: 0px;
  margin-top: 30px;
}

section li {
  display: inline;
}

.list-1 li:only-child {
  width: 166px;
  height: 26px;
  font-size: 31px;
  font-weight: 600;
  margin-left: 190px;
  margin-top: 22px;
  color: #656565;
}

.list-2 {
  width: 346px;
  height: 10px;
  margin-left: 415px;
  margin-top: -1.7em;
  font-size: 15px;
  padding: 0px;
}

.list-2 li:not(.list-2 li:first-of-type) {
  margin-left: 15px;
}

.list-2 a {
  color: #656565;
}

.search {
  width: 174px;
  height: 29px;
  float: right;
  margin-right: 14px;
  margin-top: -15px;
}

.search p input:only-child {
  font-size: 16px;
  width: 174px;
  height: 29px;
  background-image: url(../img/serach.png);
  background-repeat: no-repeat;
  background-position: 9em 5px;
}

.elips-1 {
  width: 35px;
  height: 35px;
  float: right;
  margin-top: -18px;
  background-color: #7db122;
  border-radius: 50%;
  background-image: url(../img/stick-1.png);
  background-position: -2px -7px;
  margin-right: 4px;
}

.elips-2 {
  width: 35px;
  height: 35px;
  float: right;
  margin-top: -18px;
  background-color: #7db122;
  border-radius: 50%;
  background-image: url(../img/stick-2.png);
  background-position: -3px -7px;
  margin-right: 13px;
}

.cart {
  float: right;
  font-size: 15px;
  color: #656565;
  margin-right: 191px;
  height: 26px;
  margin-top: -8px;
}

.elips-1:hover {
  box-shadow: 0 0 10px 3px #3f3e3e;
  transition: .5s;
}

.elips-2:hover {
  box-shadow: 0 0 10px 3px #3f3e3e;
  transition: .5s;
}

.main-img {
  width: 1400px;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  background-image: url(../img/main-img.png);
}

.arrow-left {
  position: absolute;
  width: 67px;
  height: 67px;
  background-color: white;
  border-radius: 50%;
  margin-top: 203px;
  margin-left: 121px;
}

.arrow-right {
  position: absolute;
  width: 67px;
  height: 67px;
  background-color: white;
  border-radius: 50%;
  margin-top: 203px;
  margin-left: 1212px;
}

.arrow-left i:first-of-type {
  border: solid #cdcdcd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(135deg);
  margin-top: 25px;
  margin-left: 25px;
}

.arrow-right i:last-of-type {
  border: solid #cdcdcd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(315deg);
  margin-top: 25px;
  margin-left: 22px;
}

.main-img ul {
  float: left;
  margin-left: 236px;
  left: 17em;
}

.main-img ul li:first-of-type {
  display: block;
  width: 285px;
  height: 47px;
  color: #e9e8e6;
  font-size: 30px;
  background-color: #6c665e;
  margin-top: 189px;
}

.main-img ul li:last-of-type {
  display: inline-block;
  width: 329px;
  height: 47px;
  color: white;
  font-size: 27px;
  font-weight: 600;
  background-color: #6c665e;
  margin-top: 3px;
}

.main-img ul li:first-of-type::after {
  content: 'ALUMINUM CLUB';
  display: inline-block;
  margin-left: 12px;
  margin-top: 5px;
}

.main-img ul li:last-of-type::after {
  content: 'EXPERIENCE RAY-BAN';
  display: inline-block;
  margin-left: 12px;
  margin-top: 8px;
}

.container-1 {
  position: absolute;
  margin-left: 986px;
}

.container-1 .box-1 {
  width: 233px;
  height: 445px;
  border: solid #eff1f0;
  margin-right: 198px;
  margin-top: 47px;
  border-top-color: #4cb1ca;
  border-width: 4px 2px 2px 2px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-1 .box-1 div:first-of-type {
  width: 13.5em;
  height: 21em;
  margin-left: 8.5px;
  margin-top: 100px;
  background-position: -105px -44px;
  background-image: url(../img/img-container-1.png);
}

.container-1 .box-1 div:last-of-type {
  width: 123px;
  height: 52px;
  position: absolute;
  top: 3em;
  right: 10.5em;
  font-size: 24px;
}

.container-1 .box-1 div p:first-of-type {
  margin: 0px;
  color: #6c665e;
}

.container-1 .box-1 div p:last-of-type {
  margin: 0px;
  margin-left: 23px;
  color: #6c665e;
}

.container-1 .box-1 button {
  width: 132px;
  height: 44px;
  display: block;
  margin-left: 51px;
  margin-top: -4.5em;
  background-color: #4cb1ca;
  color: white;
}

.container-1 .box-2 {
  width: 233px;
  height: 41px;
  border: solid #eff1f0;
  border-width: 0px 2px 2px 2px;
  margin-right: 198px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-1 .box-2 div:nth-child(1) {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4cb1ca;
  margin-left: 90px;
  margin-top: 17px;
}

.container-1 .box-2 div:nth-child(2) {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #7db122;
  margin-left: 111px;
  margin-top: 17px;
}

.container-1 .box-2 div:nth-child(3) {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #7db122;
  margin-left: 132px;
  margin-top: 17px;
}

.container-1 .box-3 {
  width: 233px;
  height: 281px;
  border: solid #eff1f0;
  border-width: 4px 2px 2px 2px;
  border-top-color: #4cb1ca;
  margin-right: 198px;
  margin-top: 31px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-1 .box-3 div:only-child {
  width: 187px;
  height: 85px;
  color: #6c665e;
  margin-left: 23px;
  margin-top: 30px;
  text-align: center;
}

.container-1 .box-3 div p:nth-child(1){
  margin: 0px;
  font-size: 23px;

}

.container-1 .box-3 div p:nth-child(2) {
  margin: 0px;
  font-size: 23px;
}

.container-1 .box-3 div p:nth-child(3) {
  margin: 0px;
  margin-top: 23px;
}

.container-1 .box-3 div p:nth-child(4) {
  margin: 0px;
  
}

.container-1 .box-3 input {
  margin-top: 26px;
  width: 185px;
  height: 29px;
}

.container-1 .box-3 button {
  width: 112px;
  height: 44px;
  background-color: #7eb123;
  color: white;
  margin-top: 18px;
}

.products-1 {
  display: block;
  width: 254px;
  height: 28px;
  margin-left: 178px;
  margin-top: 47px;
  font-size: 23px;
  color: #6d675f;
}

.products-2 {
  display: block;
  width: 254px;
  height: 28px;
  margin-left: 178px;
  margin-top: 47px;
  font-size: 23px;
  color: #6d675f;
}

.products-3 {
  display: block;
  width: 254px;
  height: 28px;
  margin-left: 178px;
  margin-top: 47px;
  font-size: 23px;
  color: #6d675f;
}

.container-3 {
  margin-top: 27px;
  margin-left: 181px;
}

.container-3 div {
  width: 233px;
  height: 318px;
  display: inline-block;
  border: 2px solid #eff1f0;
  margin-right: 28px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-3 .box-1 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-3 .box-1 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-3 .box-1 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-3 .box-1 p:last-of-type::after {
  content: '$388.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-3 .box-1 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-3 .box-1 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-3 .box-2 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-3 .box-2 p::after {
  content: '$90.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-3 .box-2 img {
  display: block;
  margin: 8px;
}

.container-3 .box-2 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-3 .box-3 img:first-of-type {
  position: absolute;
  margin-left: -4px;
  margin-top: -0.2em;
}

.container-3 .box-3 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(314deg);
  margin-left: 10px;
  margin-top: 20px;
  color: white;
}

.container-3 .box-3 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-3 .box-3 .sale {
  margin-top: 30px;
  font-size: 12px;
  text-decoration: line-through;
}

.container-3 .box-3 p:last-of-type::after {
  content: '$300.00';
  display: block;
  margin-top: 23px;
  margin-left: 45px;
  color: #7db122;
}

.container-3 .box-3 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-3 .box-3 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-4 {
  margin-top: 27px;
  margin-left: 181px;
}

.container-4 div {
  width: 233px;
  height: 318px;
  display: inline-block;
  border: 2px solid #eff1f0;
  margin-right: 28px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-4 .box-1 img {
  display: block;
  margin: 8px;
}

.container-4 .box-1 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-4 .box-1 p::after {
  content: '$180.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-4 .box-1 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-4 .box-2 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-4 .box-2 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-4 .box-2 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-4 .box-2 p:last-of-type::after {
  content: '$278.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-4 .box-2 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-4 .box-2 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-4 .box-3 img {
  display: block;
  margin: 8px;
}

.container-4 .box-3 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-4 .box-3 p::after {
  content: '$378.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-4 .box-3 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}


.container-5 {
  margin-top: 27px;
  margin-left: 181px;
}

.container-5 div {
  width: 233px;
  height: 318px;
  display: inline-block;
  border: 2px solid #eff1f0;
  margin-right: 28px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-5 .box-1 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-5 .box-1 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-5 .box-1 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-5 .box-1 p:last-of-type::after {
  content: '$500.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-5 .box-1 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-5 .box-1 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}


.container-5 .box-2 img:first-of-type {
  position: absolute;
  margin-left: -4px;
  margin-top: -0.2em;
}

.container-5 .box-2 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(314deg);
  margin-left: 10px;
  margin-top: 20px;
  color: white;
}

.container-5 .box-2 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-5 .box-2 .sale {
  margin-top: 30px;
  font-size: 12px;
  text-decoration: line-through;
}

.container-5 .box-2 p:last-of-type::after {
  content: '$200.00';
  display: block;
  margin-top: 23px;
  margin-left: 45px;
  color: #7db122;
}

.container-5 .box-2 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-5 .box-2 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-5 .box-3 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-5 .box-3 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-5 .box-3 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-5 .box-3 p:last-of-type::after {
  content: '$370.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-5 .box-3 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-5 .box-3 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-6 {
  margin-top: 27px;
  margin-left: 181px;
}

.container-6 div {
  width: 233px;
  height: 318px;
  display: inline-block;
  border: 2px solid #eff1f0;
  margin-right: 28px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-6 .box-1 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-6 .box-1 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-6 .box-1 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-6 .box-1 p:last-of-type::after {
  content: '$378.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-6 .box-1 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-6 .box-1 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-6 .box-2 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-6 .box-2 p::after {
  content: '$278.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-6 .box-2 img {
  display: block;
  margin: 8px;
}

.container-6 .box-2 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-6 .box-3 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-6 .box-3 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-6 .box-3 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-6 .box-3 p:last-of-type::after {
  content: '$188.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-6 .box-3 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-6 .box-3 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-7 {
  margin-top: 27px;
  margin-left: 181px;
}

.container-7 div {
  width: 233px;
  height: 318px;
  display: inline-block;
  border: 2px solid #eff1f0;
  margin-right: 28px;
  box-shadow: 0 5px 31px rgb(0 0 0 / 23%), 0 1px 3px rgb(0 0 0 / 22%);
}

.container-7 .box-1 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-7 .box-1 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-7 .box-1 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-7 .box-1 p:last-of-type::after {
  content: '$90.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-7 .box-1 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-7 .box-1 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-7 .box-2 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-7 .box-2 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-7 .box-2 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-7 .box-2 p:last-of-type::after {
  content: '$60.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-7 .box-2 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-7 .box-2 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.container-7 .box-3 img:first-of-type {
  position: absolute;
  margin-left: 9em;
  margin-top: -0.2em;
}

.container-7 .box-3 p:first-of-type {
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  margin-left: 11.5em;
  margin-top: 1.5em;
  color: white;
}

.container-7 .box-3 p {
  margin: 0px;
  margin-left: 8px;
  position: absolute;
  margin-top: 5px;
}

.container-7 .box-3 p:last-of-type::after {
  content: '$378.00';
  display: block;
  margin-top: 3px;
  color: #7db122;
}

.container-7 .box-3 img:last-of-type {
  display: block;
  margin: 8px;
}

.container-7 .box-3 .elips {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #7db122;
  display: block;
  margin-left: 173px;
  background-image: url(../img/stick-box.png);
  background-position: -4px -4px;
}

.info-1 {
  width: 1400px;
  height: 106px;
  margin-top: 20px;
  background-color: #4cb1ca;
}

.info-1 a:first-of-type {
  margin: 42px 40px 25px 12.5em;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.info-1 a:first-of-type::before {
  content: " ";
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -80px;
  top: -19px;
}

.info-1 a:last-of-type {
  margin: 42px 40px 25px 7em;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.info-1 a:last-of-type::before {
  content: " ";
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 65px;
  background-image: url(../img/tel.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -19px;
  left: -80px;
}

.info-2 {
  margin-top: 0px;
  width: 1400px;
  height: 334px;
  background-color: #39a0b9;
}

.info-fb {
  float: left;
  display: inline-block;
  margin-left: 188px;
  margin-top: 30px;
  width: 240px;
}

.info-fb span:first-of-type {
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.54;
}

.info-fb span:last-of-type {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: capitalize;
  margin-top: 9px;
}

.info-fb button {
  background-image: url(../img/like.png);
  background-position:top 40% left 4px;
  background-repeat: no-repeat;
  color: #5c74c5;
  border: none;
  border-radius: 3px;
  width: 43px;
  padding:0 10px 0 20px;
  height: 23px;
  cursor: pointer;
  margin: 5px 0;
  display: block;
}

.info-fb ul {
  border-top: 1px solid #4cb1ca;
  border-bottom: 1px solid #4cb1ca;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-fb ul li {
  width: 49px;
  height: 49px;
  margin: 2px 4px;
  display: inline-block;
}

.info-twit {
  float: left;
  display: inline-block;
  width: 240px;
  margin-top: 30px;
  margin-left: 53px;
}

.info-twit ul {
  display: inline-block;
}

.info-twit li {
  position: relative;
  margin-bottom: 31px;
  display: inline-block;
}

.info-twit li::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top:10px;
  width: 43px;
  height: 43px;
  border-radius: 43px;
  background-color: #fff;
  background-image: url(../img/twit.png);
  background-repeat: no-repeat;
  background-position: center;
}

.info-twit li p {
  padding-left: 55px;
  width: 165px;
  height: 70px;
  font-size: 0.9em;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: none;
}

.info-twit li p a {
  color: #9ae2f4;
}

.info {
  float: left;
  margin-left: 74px;
  width: 212px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}

.info ul {
  display: inline-block;
}

.info ul li a {
  color: white;
}

.info ul li {
  width: 213px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
}

.info ul li::before {
  content: " >";
  padding-right: 11px;
}

.contact {
  float: left;
  display: inline-block;
  margin-left: 67px;
  width: 200px;
  margin-top: 30px;
  vertical-align: top;
}

.contact ul li a {
  color: white;
}

.contact ul {
  display: inline-block;
}

.contact ul li {
  display: block;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: capitalize;
}

footer h4 {
  font-size: 20px;
  color: #f5f5f5;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
}

.info-3 {
  margin-top: 0px;
  width: 1400px;
  height: 64px;
  background-color: #0b4b5a;
}

.info-3 span {
  display: inline-block;
  color: #8adcf0;
  font-size: 15px;
}

.info-3 div:only-of-type {
  width: 1018px;
  height: 13px;
  margin-left: 195px;
  margin-top: 24px;
  display: inline-block;
}

.info-3 span::before {
  content: '©';
  padding-right: 4px;
}

.info-3 ul {
  display: block;
  float: right;
}

.info-3 ul li a {
  color: #8adcf0;
  font-size: 15px;
}

.info-3 ul li a::after {
  content: "|";
  padding: 0 9px;
}

.info-3 ul li:last-child a::after {
  content: '';
}

.social {
  margin-top: 15px;
  border-top: 1px solid #4cb1ca;
}

.social a:nth-child(1) div {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 18px;
}

.social a:nth-child(2) div {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/in.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social a:nth-child(3) div {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/wifi.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social a:nth-child(4) div {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-position: center;
}